parameters:
    secret_key:         SecretToken
    database_driver:    pdo_mysql
    database_host:      10.0.0.201
    database_port:      ~
    database_name:      vulgar-detector
    database_user:      api
    database_password:  simple
    default_threshold:  85
    request_limit:      500